<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions (must be outside <application>) -->
    <!-- For reading media (Android 13 / API 33+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- For reading external storage (Android 12 and below) -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Optional camera hardware declaration -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- For Android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/restologo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/restologo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Indradev_RESTO"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".view.ProfileActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/title_activity_profile"-->
<!--            android:theme="@style/Theme.Indradev_RESTO"-->
<!--            tools:ignore="MissingClass">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".view.ForgetPasswordActivity"
            android:exported="true"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/Theme.Indradev_RESTO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Indradev_RESTO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AdminDashboardActivityResto"
            android:exported="true"
            android:label="@string/title_activity_admin_dashboard_resto"
            android:theme="@style/Theme.Indradev_RESTO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Splash Activity (launcher) -->
        <activity
            android:name=".view.SplashActivityResto"
            android:exported="true"
            android:label="@string/title_activity_splash_resto"
            android:theme="@style/Theme.Indradev_RESTO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login Activity -->
        <activity
            android:name=".view.LoginActivityResto"
            android:exported="true"
            android:label="@string/title_activity_login_resto"
            android:theme="@style/Theme.Indradev_RESTO"
            android:windowSoftInputMode="adjustResize" /> <!-- Registration Activity -->
        <activity
            android:name=".view.RegistrationActivityResto"
            android:exported="true"
            android:label="@string/title_activity_registration_resto"
            android:theme="@style/Theme.Indradev_RESTO" /> <!-- Dashboard Activity -->
        <activity
            android:name=".view.DashboardActivityResto"
            android:exported="true"
            android:label="@string/title_activity_dashboard_resto"
            android:theme="@style/Theme.Indradev_RESTO" />
    </application>

</manifest>